{% extends "page/base.html" %}
{% load static %}

{% block content %}

<div class="min-h-screen flex flex-col md:flex-row items-center justify-center px-4 py-10">

    <!-- Formulario -->
    <div class="w-full md:w-1/2 flex mt-20 justify-center">
        <div class="w-full max-w-lg bg-card p-8 rounded-xl shadow-lg border border-primary">

            <h2 class="text-3xl font-bold text-accent mb-3 text-center">Bienvenido</h2>
            <p class="text-muted mb-6 text-center">Crea tu cuenta para acceder a nuestros servicios.</p>

            <form method="POST" class="space-y-4">
                {% csrf_token %}

                <!-- Nombre -->
                <input type="text" name="username" value="{{ form.username.value }}"
                    placeholder="Tu nombre"
                    class="w-full bg-card border border-primary p-3 rounded-lg">

                <!-- Apellido -->
                <input type="text" name="last_name" value="{{ form.last_name.value }}"
                    placeholder="Tu apellido"
                    class="w-full bg-card border border-primary p-3 rounded-lg">

                <!-- Correo -->
                <input type="email" name="email" value="{{ form.email.value }}"
                    placeholder="Tu correo"
                    class="w-full bg-card border border-primary p-3 rounded-lg">

                <!-- Ocupación -->
                <input type="text" name="ocupacion" value="{{ form.ocupacion.value }}"
                    placeholder="¿A qué te dedicas?"
                    class="w-full bg-card border border-primary p-3 rounded-lg">

                <!-- Área de interés -->
                <input type="text" name="area_interes" value="{{ form.area_interes.value }}"
                    placeholder="¿Cuál es tu área de interés?"
                    class="w-full bg-card border border-primary p-3 rounded-lg">

                <!-- Contraseña -->
                <input type="password" name="password1"
                    placeholder="Contraseña"
                    class="w-full bg-card border border-primary p-3 rounded-lg">

                <!-- Confirmar contraseña -->
                <input type="password" name="password2"
                    placeholder="Confirmar contraseña"
                    class="w-full bg-card border border-primary p-3 rounded-lg">

                {% if form.errors %}
                    <div class="text-red-500 text-sm text-left">
                        {{ form.errors }}
                    </div>
                {% endif %}

                <button type="submit"
                    class="w-full bg-accent text-white py-3 rounded-lg hover:bg-accent-secondary transition">
                    Registrarme
                </button>
            </form>

        </div>
    </div>
</div>

{% endblock %}
